<!-- services.html -->

<!-- services.html -->
<div class="container my-4">
    <div class="row">
        
      <!-- Instalacje elektryczne Card -->
      <div class="col-md-4">
        <a href="link-to-details.html" class="card-link">
        <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="images/eletrci4.jpg" alt="Instalacje elektryczne">

          <div class="card-body">
            <h5 class="card-title">Instalacje elektryczne</h5>
            <p class="card-text">Zajmujemy się kompleksowym montażem instalacji w budynkach przemysłowych i mieszkalnych, zapewniając nowoczesne rozwiązania oraz pełną obsługę techniczną.</p>
          </div>
        </div>
        </a>
      </div>
  
      <!-- Generalne wykonawstwo Card -->
      <div class="col-md-4">
        <a href="link-to-details.html" class="card-link">

        <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="images/house.jpg" alt="Instalacje elektryczne">

          <div class="card-body">
            <h5 class="card-title">Generalne wykonawstwo</h5>
            <p class="card-text">Oferujemy budowę domów, obiektów przemysłowych, remonty, modernizacje oraz wykończenia wnętrz, realizowane z dbałością o najwyższe standardy.</p>
          </div>
        </div>
        </a>
      </div>
  
      <!-- Wyroby ze stali Card -->
      <div class="col-md-4">
        <a href="link-to-details.html" class="card-link">

        <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="images/rallings.jpg" alt="Instalacje elektryczne">

          <div class="card-body">
            <h5 class="card-title">Wyroby ze stali</h5>
            <p class="card-text">Specjalizujemy się w produkcji odbojnic, barier, balustrad oraz innych konstrukcji stalowych, dostosowanych do potrzeb infrastruktury i przemysłu.</p>
          </div>
        </div>
        </a>
      </div>
      
      <!-- Cięcie plazmą Card -->
      <div class="col-md-4">
        <a href="link-to-details.html" class="card-link">

        <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="images/plasma.jpg" alt="Instalacje elektryczne">

          <div class="card-body">
            <h5 class="card-title">Cięcie plazmą</h5>
            <p class="card-text">Nasze usługi cięcia plazmowego CNC cechuje precyzja i możliwość wykonania zarówno elementów konstrukcyjnych, jak i ozdobnych na zamówienie.</p>
          </div>
        </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="link-to-details.html" class="card-link">

        <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="images/homereno.jpg" alt="Instalacje elektryczne">
            <div class="card-body">
                <h5 class="card-title">Wykończenia wnętrz</h5>
                <p class="card-text">Personalizowane i funkcjonalne wykończenia wnętrz, od projektowania do realizacji.</p>
            </div>
        </div>
        </a>
    </div>

    <!-- Modernizacje Card -->
    <div class="col-md-4">
        <a href="link-to-details.html" class="card-link">

        <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="images/hale.jpg" alt="Instalacje elektryczne">
            <div class="card-body">
                <h5 class="card-title">Modernizacje</h5>
                <p class="card-text">Nowoczesne i innowacyjne podejście do modernizacji obiektów dla zwiększenia ich wartości i funkcjonalności.</p>
            </div>
        </div>
        </a>
    </div>

    </div>
  </div>
  