<!-- info-banner.html -->
<div class="info-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="info-banner-content">
                    <h2>ENERGO-EXPERT PLUS</h2>
                    <p>Doświadczona firma budowlana, która oferuje szeroki zakres usług dla sektora przemysłowego i mieszkalnego. Specjalizujemy się w montażu instalacji elektrycznych oraz generalnym wykonawstwie robót budowlanych.</p>
                </div>
            </div>
        </div>
    </div>
</div>
